<IfModule dir_module>
    DirectoryIndex svyaz.html bilet.html korolev_22_03.html kupit.html text.php text2.php
</IfModule>
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff